.down {
    position: relative;
    margin-top: 25%;
  }
  .diva {
    
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
  }
  .grey-bg {
    position:absolute;
    height: 100%; 
    background-color: lightgray;
  }
  