.down {
    position: relative;
    margin-top: 25%;
  }
  .diva {
    
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
    
  }
  .fade{
    opacity:0.5;
  }
  #createNewEmpDiv{
    margin-left: 213px;
    margin-top: 13px;
    background-color: #966978;
    border-color: #966999;
  }
  .font{
    font-family:"Segoe UI",Arial,sans-serif;
  }