<button class="btn btn-primary" (click)="toggle()">Create New Employee</button>
<br/>
<ng-container *ngIf="show">
    <form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
        <div class="panel panel-primary">
          <div class="panel-body">
      
            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input id="FirstName" type="text" class="form-control"
                     name="FirstName" [(ngModel)]="employee.FirstName">
            </div>
      
            <div class="form-group">
              <label for="LastName">Last Name</label>
              <input id="LastName" type="text" class="form-control"
                     name="LastName" [(ngModel)]="employee.LastName">
            </div>
            <div class="form-group">
                <label for="Gender">Gender</label>
                <input id="Gender" type="text" class="form-control"
                       name="Gender" [(ngModel)]="employee.Gender">
              </div>
              <div class="form-group">
                <label for="Salary">Salary</label>
                <input id="Salary" type="text" class="form-control"
                       name="Salary" [(ngModel)]="employee.Salary">
              </div>
              <div class="form-group">
                <label for="Details">Details</label>
                <input id="Details" type="text" class="form-control"
                       name="Details" [(ngModel)]="employee.Details">
              </div>
      
          </div>
          <div class="panel-footer">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
      </form>
      
      Angular Generated Form Model : {{employeeForm.value | json}}
      <br/>
      <br/>
Our Employee Model : {{ employee | json}}

</ng-container>
