
.popup{
  width: 80%;
  height: 300px;
  position: fixed ;
  left: calc(50% - 40%);
  top: 25%;
    
}
#createNewEmpDiv{
  left: 30%;
  top: 25%;
  margin-left: 12%;
  margin-top: 3%;
}
.grey-bg {
    height: 100; 
  background-color: lightgray;
}
