<head>
    <title>Bootstrap Example</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Add Bootstrap JS and JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" *ngIf="employee">
        <div class="panel-group" class="w-50">
            <div class="panel panel-primary">
                <div  class="panel-heading colorsize">{{employee.FirstName}} {{employee.LastName}}</div>
                <div class="panel-body"> Gender: {{employee.Gender}}<br />
                    Salary : {{employee.Salary}}<br />
                    Details : {{employee.Details}}
                </div>
            </div>
        </div>
    </div>
</body>