<div id="detailsAdjust"class="container" *ngIf="employee">
    <div id="detailsAdjust"class="panel-group" class="w">
        <div class="panel panel-primary">
            <div id="panelColor" class="panel-heading colorsize">{{employee.FirstName}} {{employee.LastName}}</div>
            <div class="panel-body"> Gender: {{employee.Gender}}<br />
                Salary : {{employee.Salary}}<br />
                Details : {{employee.Details}}
                <div><button id="Edit" class="btn btn-primary" (click)="onClick(employee.ID)" >Edit</button>
            </div>
        </div>
    </div>
</div>